h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

.hover-bg:hover {
  color: #404bbf;
}

a {
  color: currentColor;
  text-decoration: none;
}

a:focus {
  outline: none;
}

.container {
  max-width: 1128px;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.gallery-item {
  width: 360px;
  height: 200px;
}

.gallery-link,
.gallery-image {
  cursor:
    url("hand-icon.svg") 0 0,
    pointer;
}

.gallery-item a img {
  width: 100%;
  height: 100%;
}
